:root{ 
    /*color variables (palleton link: https://paletton.com/#uid=63S0u0k3V4WaYgf7Lb1ac80gJaQ)*/
    --backest_background:#19181B;
    --text_background:#161819;
    --accent_background: #1C2528;
    --menu_background:#231F2C;
    --menu_button:#332F3C;
    --menu_button_active:#463D58;
    --text_color: #c4c4c4;
}

/* -- General -- */
body{
    /* background-color: #e9f1ff; */
    background-color: var(--backest_background);
    color: var(--text_color);
    /* font-size: 13.5pt; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.container{
    max-width: 1500px;
}

.tagline{
    text-align: center;
}

.main{
    position: relative;
    top: 70px;
    background-color: var(--text_background);
    font-size: 14pt; 
}


/* -- Section Bodies -- */
section{
    /* border: 1px black solid;
    border-radius: 1em; */
    background-color: var(--text_background);
    padding: 1em;
    margin: 0em;
    /*margin: 1em;
    margin-top: 3em;*/
}

/* .about{
    position: sticky;
    
} */

#aboutMe.imageHolder{    
    min-width: 100%;
    min-height: 10em;
    text-align: center;
    background-color: red;
}

.about .imageHolder img{
    max-width: 100%;
    min-height: 10px;
}

.imageHolder img{
    /* max-height: 100%; */
    max-width: 100%;
}

.about{
    text-align: center;
}

.about p{
    text-align: justify;      
    
}

.portfolioContainer{
    /*margin-top: 1em;
    border: none;
    border-
    us: none;
    background-color: currentColor;*/
    padding-left: 1.5em;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* margin: 11.2px 11.2px 11.2px 11.2px; */
    float: right;
    background-color: var(--accent_background);
    text-align: center;
    /* border: 1px black solid; */
}

.portfolioItem{
    /*border: 1px black solid;*/
    /* margin-top: 0; */
	/* border-radius: 1em; */
    padding: 1em;
    /* overflow: hidden; */
    /* background-color: #7788990e; */
    background-color: var(--text_background);
    float: left;
    height: 26em;
    /* max-height: 30em; */
    text-align: center;
    margin: 11.2px 11.2px 11.2px 11.2px;
    /* margin-right: -1em;
    margin-left: -1em; */
}

.portfolioItem p{
    text-align: justify;
}

.portfolioItem.imageHolder{
    height: 10em;
    /* text-align: center; */

}

.portfolioLink{
    transition: 0.5s;
    color: var(--text_color);
    text-decoration: none;
    /* padding: 0; */

}

.portfolioLink:hover{
    color: var(--text_color);
    text-decoration: none;

}

.portfolioItem:hover{
    transition: 0.5s;    
    color: var(--text_color);
    text-decoration: none;

    /* box-shadow: 0 0 20px 0px #29272D; */
    
    box-shadow: 0 0 10px 0px var(--text_color);

}

/* .first{
    
    padding: 1em;
    /*max-height: 22em;*/
    /*overflow: hidden;
} */

/* .first p{
    padding-top: 1em;
} */

.portfolio button{
    border: none;
    
}

.about img{
    max-height: 20em;
}

/*form stuff*/
input, textarea{
    width: 50%;
}
.contact{
    text-align: center;
}

/* -- ID's --*/
#portfolioHeader{
    text-align: center;
    margin-top:  2rem;
    margin-bottom: 0;
}

#wip{
    margin: 0;
}

.resumeHolder{
    text-align: center;
    height: 100vh;
}

.pdfHolder{
    text-align: center;
    height: 100vh;
    width: 100%;
}

.unityHolder{
    text-align: center;
    height: fit-content;
    width: 100%;
}

embed{
    width: 80%;
    height: 100%;
}

iframe{
    width: 100%;
    height: 60vh;
}

.emphasis{
    font-weight: 600;
}

.imageHolder{
    text-align: center;
}

.feature{
    width: 49%;
}

.highlight{
    width: 60%;
}

footer{
    text-align: center;
}

.icon{
    font-size: 2.5em;
    padding: .2em;
    color: var(--text_color);
    text-decoration: none;
}

