/* This file contains all of the css to make this responsive */

@media (max-width: 550px){
    ul.myNav{
        text-align: center;
        padding-top: 0em;
    }

    ul.myNav li a{
        font-size: 1em;
    }

    header h2{
        text-align: center;
        font-size: 2em;
    }

    header h5{
        text-align: center;
        /* font-size: 20em; */
    }

    .myMenu li{
        float: none;
    }

    ul.myNav{
        float: none;

        /* centers nav left-right within its container */
        width: 100%;
        text-align: center;
    }

    .main, .portfolio, .portfolioItem{
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .portfolioItem{
        margin-top: 1em;
        /* margin-bottom: 1em; */
    }

    /* .portfolio{
        width: 
    }

    .portfolioItem{
        width: 100%;
        padding: 0;
        margin: 0;
    } */

    .imageHolder img{
        max-width: 100%;
    }
}